frontbin.elf
__pycache__/
build/
.localdecomp_work/
.test_flags_work/
*.o
*.pyc
localdecomp/
build_log.txt
tmp.c
flagtest.c
source.bin
target.bin
diff_settings.py
func_*_candidate*.c
RequestScreenTransition.c
.vscode/
Thumbs.db
.DS_Store
